
body {
    
    color: black;
    background: url(../storefront/photo-islanf.jpg);
}

#nav{
    list-style-type: none;
    margin: 10px;
    padding: 0;
    height: 75px;
    overflow: hidden;
    font-size: 20px;
    font-family: 'Rock Salt', cursive;
}



ul{
    list-style-type: none;
    
    
    
}
li{
    float: right;
}

li a {
    display: block;
    padding: 20px 16px;
    text-decoration: none;
    color:black;
}






li a:hover{
    color: red;
}

#main-content{
    display: block;
    text-align: center;
    
    padding: 20px 16px;
    height: 10%;
    float: left;
    max-width:75%;
    font: 20px sans-serif;
    font-weight: 500%;
    font-family: 'Rock Salt', cursive;
}
#footer{
    padding: 20px 16px;
    text-align: center;
    
}

#header{
    
    padding: 20px 16px;
    text-align: center;
    font-size: 50px;
    font-family: 'Rock Salt', cursive;
    
}
#sidebarWrapper {
    float: right;
    margin-right: 2vw;
    width: 20vw;
    height: 60vh;
    text-align: center;
}

#sidebarWrapper h6 {
    margin: 4vh auto auto auto;
}

#sidebarWrapper h3 {
    font-weight: 100;
    font-size: 220%;
    position: relative;
    top: 8vh;
}

#sidebarLinks {
    height: 85vh;
    width: 22vw;
    /*background-color: rgb(151, 151, 151);*/
    position: relative;
    top: 7vh;
    border-radius: 7px;
    text-transform: uppercase;
    margin-top: 3vh;
    padding-top: 1vh;
    background: url(../storefront/beaches.jpg);
    color:black;
    font-family: 'Rock Salt', cursive;
}

a.sidebarLink {
    margin-right: 2vw;
    font-size: 15px;
    text-align: center
}

a.sidebarLink:hover {
    color: blue;
    
}

.sidebarTitle {
    font-size: 31px;
}

.sidebarList {
    list-style-type: none;
    font-size: 120%;
   text-align: center
}

#info{
    
    display: block;
    padding: 20px 16px;
    height: 10%;
    font-size: 20px;
    text-align: center
    
}

.listitem{
    
    float: none;

}
#topNav{
        animation-duration: 3s;
        animation-name: slidein;
}


@keyframes slidein{
    from {
        margin-right:100%;
      }
      
      to {
        margin-right: 0%;
      }
    }
